<a href="https://colab.research.google.com/github/mazette04/58002-OOP/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [1]:
if 5>2:
  print('5>2')

5>2

Python Comment

In [ ]:
#This is a comment
print("Hello, world")

Python Variable

In [4]:
#Single value with single variable
x = 1

#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value

a = b= c= "Maria"
print(a,b)
print(b)
print(c)

[1, 2, 3]
Maria Maria
Maria
Maria

Casting

In [5]:
n = int(4)
print(n)

4

 Type() function

In [8]:
c = 'Sally'
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>